/* Normalize.css - uses browserslist from package.json for compilation targets */
@import-normalize;

html {
  box-sizing: border-box;
  overflow-y: scroll;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

html,
body {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*:focus {
  outline: none;
}

// Declare our @font-faces here rather than using included @bc-gov/bc-sans .css
// file so that we can extended the @font-face declarations with font-display.
@font-face {
  src: url("../node_modules/@bcgov/bc-sans/fonts/BCSans-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-family: "BCSans";
  font-display: swap;
}
@font-face {
  src: url("../node_modules/@bcgov/bc-sans/fonts/BCSans-BoldItalic.woff")
    format("woff");
  font-weight: 700;
  font-style: italic;
  font-family: "BCSans";
  font-display: swap;
}
@font-face {
  src: url("../node_modules/@bcgov/bc-sans/fonts/BCSans-Italic.woff")
    format("woff");
  font-weight: 400;
  font-style: italic;
  font-family: "BCSans";
  font-display: swap;
}
@font-face {
  src: url("../node_modules/@bcgov/bc-sans/fonts/BCSans-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-family: "BCSans";
  font-display: swap;
}
